body {
  font-family: "Montserrat", sans-serif;
  color: white;
}
.main-container {
  background: linear-gradient(-200deg, #ff057c 0.1%, #161861 25%);
  border-radius: 30px;
  padding: 20px;
  max-width: 480px;
  margin: 25px auto;
}

.container {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
}

/* Analog Clock  */

.clock {
  min-height: 200px;
  background-color: #1f2162a8;
  color: white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #27285ea8;
  box-shadow: 0px 0px 30px #ff057e78;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 18px;
  text-align: center;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
}

.clock::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ff057c;
  background-color: rgb(187, 169, 169);
}

.hand i {
  position: absolute;
  background-color: white;
  width: 4px;
  height: 70px;
}

#cities .city {
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 10px;
  margin: 15px;
}
