body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(39, 32, 68, 0.85);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgb(39, 32, 68, 0.7), rgb(39, 32, 68, 0.7)),
    url(../images/image\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 260px 0px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
}

header h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 5px;
}

header a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  background-color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

main {
  background-color: white;
}

main h6,
.wafflebars h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 5px;
  letter-spacing: 5px;
  opacity: 0.5;
}

main h1 {
  font-size: 40px;
  text-align: left;
  letter-spacing: 1px;
  color: rgb(39, 32, 68);
}

.wafflebars h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(39, 32, 68);
}

main p,
section.wafflebars {
  line-height: 1.5;
  color: rgb(39, 32, 68, 0.95);
}
footer {
  background-image: linear-gradient(
      rgb(39, 32, 68, 0.85),
      rgb(39, 32, 68, 0.85)
    ),
    url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 10px 0px;
}

section {
  margin: 0 auto;
  padding: 100px;
  text-align: justify;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: grid;
  gap: 60px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-wafflebars {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-embeds {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
section.wafflebars {
  background: #c7c7c7;
  text-align: center;
  line-height: 1.5;
}

div.card {
  background: white;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

.card-img.grid {
  gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.wafflabr-desc {
  padding: 40px;
  text-align: justify;
}
.wafflabr-des h3 {
  font-size: 24px;
  padding-top: 10px;
  color: rgb(39, 32, 68);
}

.wafflabr-des h5 {
  margin: 0;
  padding: 10px 0;
  color: rgb(39, 32, 68);
}
.wafflabr-des p.lp {
  padding-bottom: 10px;
}

a.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(59, 38, 141);
  padding: 16px 22px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
}

section.insta-embeds {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  margin: 0px 25px;
}

.insta-embeds h1 {
  text-align: center;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  opacity: 0.7;
  text-align: justify;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  color: white;
  opacity: 0.7;
  line-height: 2;
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h4 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  section {
    padding: 30px;
  }

  .grid-2-columns img {
    display: block;
    margin: 0 auto;
  }
  .card-img img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
  .grid-3-columns-footer {
    gap: 5px;
  }

  footer {
    padding: 10px 0;
  }

  footer h4 {
    font-size: 16px;
  }

  footer p,
  footer a {
    font-size: 10px;
  }
}
