:root {
  --bg-color-primary: #050505;
  --secondary-color: #83deffd6;
  --font-colour: #ffffff;
  --font-fam: "Poppins", sans-serif;
  --font-fam2: "Playfair Display", serif;
}

.navbar {
  background-color: var(--bg-color-primary) !important;
  font-family: var(--font-fam);
  font-size: 15px;
  margin-right: 60px;
}
.navbar .nav-link.active {
  color: var(--secondary-color) !important;
}

.navbar li {
  padding-right: 15px;
}

nav a {
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav .nav-link.active a {
  color: #6c63ff !important;
}

body {
  background-color: var(--bg-color-primary);
  font-family: var(--font-fam);
}

.contact-card {
  background-color: #030306e9;
  padding: 50px 10px;
  margin-bottom: 40px;
  border-radius: 10px !important;
  box-shadow: 0 4px 10px #151515;
}
.contact-card h1 {
  color: var(--secondary-color);
  font-family: var(--font-fam2);
  font-weight: bold;
  font-size: 96px;
  text-align: center;
  padding: 20px;
}

.contact-card h2 {
  color: var(--font-colour);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding: 30px;
}

.contact-card p {
  color: var(--font-colour);
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.contact-card .btn {
  background-color: var(--secondary-color);
  color: var(--bg-color-primary);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 10px;
  padding: 8px 30px;
  border-radius: 4px;
  line-height: 27px;
}

.project-cards {
  color: var(--font-colour);
  line-height: 30px;
}

.project-cards h2 {
  font-family: var(--font-fam2);
  margin: 30px;
  font-size: 40px;
}

.project-cards .btn-w-outline {
  color: var(--secondary-color);
  font-size: 14px;
  text-align: center;
  margin: 10px;
  padding: 8px 30px;
  border-radius: 4px;
  line-height: 27px;
  border: 1px solid;
}

.project-cards .container {
  padding: 40px 10px;
  margin: 10px auto;
}

.project-cards .container p {
  text-align: justify;
}

.project-cards img {
  max-width: 400px;
  max-height: 400px;
  padding: 5px;
}

.work-inquiry {
  color: var(--font-colour);
  box-shadow: 0 4px 10px #151515;
  border-radius: 20px;
  margin: 40px;
  padding: 20px 50px;
  line-height: 37px;
  font-size: 14px;
}

.work-inquiry h1 {
  font-family: var(--font-fam2);
  font-size: 38px;
}

.work-inquiry .btn-w-outline {
  color: var(--bg-color-primary);
  background-color: var(--secondary-color);
  font-size: 10px;
  font-weight: 500;
  margin: 10px;
  padding: 8px 15px;
  border-radius: 3px;
}

.socialmedia {
  margin-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}
.socials a {
  margin: 20px auto;
}

.socialmedia a {
  padding-right: 50px;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.project-cards {
  padding: 150px 60px;
}

@media (max-width: 960px) {
  .contact-card h1,
  .contact-card p,
  .contact-card h2 {
    transform: scale(0.6);
    padding: 2px;
  }

  .project-cards {
    padding: 40px;
  }

  .project-cards .project1,
  .project2,
  .project3 {
    justify-content: center;
  }

  .project-cards h2 {
    font-size: 40px;
  }

  .project-cards {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .work-inquiry {
    transform: scale(0.8);
    width: 75%;
  }

  .content {
    text-align: center;
    padding: 0%;
  }

  .intro p {
    text-align: justify;
    line-height: 25px;
  }
}

/* x---x--- About Page ---x---x */

.content .row {
  padding: 60px 40px;
  text-align: justify;
}

.intro {
  margin: 20px;
  padding: 40px;
}

.intro h1,
h2 {
  color: var(--font-colour);
  font-family: var(--font-fam2);
  font-weight: 700;
  font-size: 54px;
}

.intro h3 {
  font-size: 15px;
  color: var(--secondary-color);
}

.intro p {
  margin-right: 90px;
  margin-bottom: 20px;
}

.intro button {
  background-color: var(--secondary-color);
  color: var(--bg-color-primary);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 4px;
  line-height: 27px;
  display: block;
  margin-left: 0;
}

.content img {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 10px #151515;
}

.socialmedia-about a {
  padding-right: 50px;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.socialmedia-about {
  margin-top: 30px;
  padding-left: 50px;
  padding-bottom: 20px;
}

/* x---x--- My Work Page ---x---x */

.desc {
  margin-top: 20px;
  padding: 2px;
}

div.work-inquiry.col-md-6.mb-4 {
  color: var(--font-colour);
  box-shadow: 0 3px 5px #151515;
  border-radius: 20px;
  line-height: 7px;
  font-size: 20px;
  margin: 0px;
  padding: 40px 50px;
}

.intro p {
  margin: 10px;
  padding: 10px;
}
