.navbar {
  background-color: #050505 !important;
  font-family: "Poppins", sans-serif;
}
.nav {
  color: #ffffff !important;
}

body {
  background-color: #050505;
  font-family: "Poppins", sans-serif;
}

.contact-card h1 {
  color: #83deff;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
  text-align: center;
  padding: 20px;
}

.contact-card h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding: 30px;
}

.contact-card p {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.btn {
  background-color: #83deffd6;
  color: #050505;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 10px;
  padding: 8px 30px;
  border-radius: 4px;
  line-height: 27px;
}
