body {
  background-color: #050505;
}
.contact-card h1 {
  color: #83deff;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.contact-card p,
h2 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.navbar {
  background-color: #050505 !important;
  font-family: "Poppins", sans-serif;
}
.nav {
  color: #ffffff !important;
}
