:root {
  --bg-color-primary: #050505;
  --secondary-color: #83deffd6;
  --font-colour: #ffffff;
  --font-fam: "Poppins", sans-serif;
}

.navbar {
  background-color: var(--bg-color-primary) !important;
  font-family: var(--font-fam);
}
.nav {
  color: var(--font-colour) !important;
}

body {
  background-color: var(--bg-color-primary);
  font-family: var(--font-fam);
}

.contact-card {
  background-color: #030306e9;
  padding: 50px 10px;
  margin-bottom: 40px;
  border-radius: 10px !important;
  box-shadow: 0 4px 10px #151515;
}
.contact-card h1 {
  color: var(--secondary-color);
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
  text-align: center;
  padding: 20px;
}

.contact-card h2 {
  color: var(--font-colour);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding: 30px;
}

.contact-card p {
  color: var(--font-colour);
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.contact-card .btn {
  background-color: var(--secondary-color);
  color: var(--bg-color-primary);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 10px;
  padding: 8px 30px;
  border-radius: 4px;
  line-height: 27px;
}

.project-cards {
  color: var(--font-colour);
  line-height: 30px;
}

.project-cards h2 {
  font-family: "Playfair Display", serif;
  margin: 30px;
}

.project-cards .btn-w-outline {
  color: var(--secondary-color);
  font-size: 14px;
  text-align: center;
  margin: 10px;
  padding: 8px 30px;
  border-radius: 4px;
  line-height: 27px;
  border: 1px solid;
}
