:root {
  --heading-font: 15px;
  --primary-colour: #6458ff;
  --border-radius: 5px;
}

.contact-link {
  color: var(--primary-colour);
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.contact-link a {
  border: var(--primary-colour) solid 1px;
  padding: 10px;
  background-color: var(--bg-colour);
  text-decoration: none;
  border-radius: var(--border-radius);
  box-shadow: 5px 10px rgba(49, 45, 45, 0.125);
}

.contactme,
.aboutme {
  font-size: var(--heading-font);
  border-radius: var(--border-radius);
  padding: 13px;
  color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.41);
}
.contactme {
  background-color: var(--primary-colour);
  border: 1px;
}
.aboutme {
  color: var(--primary-colour);
  border: 1px solid var(--primary-colour);
}

.description {
  display: flex;
  justify-content: space-between;
}

.homepage {
  text-decoration: none;
  color: #885df1;
}
