:root {
  --button-font: 15px;
  --primary-colour: #6458ff;
  --border-radius: 5px;
  --heading-font: 65px;
}

.contact-link {
  color: var(--primary-colour);
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.contact-link a {
  border: var(--primary-colour) solid 1px;
  padding: 10px;
  background-color: var(--bg-colour);
  text-decoration: none;
  border-radius: var(--border-radius);
  box-shadow: 5px 10px rgba(49, 45, 45, 0.125);
}

.contactme,
.aboutme {
  font-size: var(--button-font);
  border-radius: var(--border-radius);
  padding: 13px;
  color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.41);
}
.contactme {
  background-color: var(--primary-colour);
  border: 1px;
}
.aboutme {
  color: var(--primary-colour);
  border: 1px solid var(--primary-colour);
}

.description {
  display: flex;
  justify-content: space-between;
}

.homepage {
  text-decoration: none;
  color: #885df1;
}

.pic1,
.pic2,
.pic3 {
  background-color: #6358ff20;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.41);
}

.launchbtn {
  background-color: var(--primary-colour);
  color: azure;
  border: 1px solid var(--primary-colour);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.41);
  font-size: large;
}

.heading {
  font-size: var(--heading-font);
}

@media (max-width: 576px) {
  h3,
  p,
  .h2 {
    font-size: 20px !important;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 30px !important;
  }

  button {
    font-size: 12px !important;
    margin: 2px;
  }
  .pic1,
  .pic2,
  .pic3 {
    padding: 3px !important;
  }

  .pic1 {
    margin-top: 90px !important;
  }

  .desc {
    font-size: 10px;
    padding: 10px;
  }

  .app-desc {
    padding-top: 30px;
  }
}
